body {
    display: grid;
    place-items: center;
}

p {
    position: fixed; bottom: 100%; text-align: center;
}

#loginContainer {
    position: fixed; bottom: 85%; text-align: center; 
}

#username {
    position: relative; bottom: -10px;
}

#login {
    width: 125px; position: relative; top: -10px
}